.categoria-btn {
  width: 100%;
  background-color: transparent;
  color: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  cursor: pointer;
  text-align: left;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.categoria-btn:hover {
  background-color: #333;
}

.categoria-btn.activa {
  background-color: #646cff;
  color: white;
}
